* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* Cabeçalho */

h1 {
    padding: 20px;
    color: #f7e7e9;
    background-color: #5b3d89;
    text-align: center;
    border-bottom: 3px solid #412b63;
    /* position: fixed;
    width: 100%; */
}

/* Área de acesso */

.bg-video {
    position: absolute;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 50%;
    z-index: -50;
    background: url(../img/montagem-faustao.png) 
    no-repeat center;
    background-size: cover;
    margin: right 500px; ;
}

.area {
    margin: 60px;
}


.acesso {
    /* background-image: url(../img/montagem-faustao.png); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50vh;
    height: 400px;
    padding: 40px;
}

.tela {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0%, 0%, 0%, 50%);
    position: absolute;
    bottom: 0%;
    width: 619px;
    height: 619px;
    z-index: -50;
    border-radius: 3px;
    border: 2px solid #5b3d89;
    
}

#bem-vindo {
    font-size: 30px;
    margin: 30px;
}

.login {
    color: beige;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

p {
    font-weight: 800;
}

.ipt {
    width: 160px;
    height: 20px;
    margin: 10px;
    background-color: rgb(104, 103, 103);
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #9b7fc4;
    
}

/* Footer */

footer {
    border-top: 3px solid #412b63;
    color: #fc776b;
    background-color:#5b3d89;
    text-align: center;
    padding: 30px;
    
    
}

.bold {
    color: #fc4d3e;
    font-weight: bold;
}

