* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: rgb(19, 18, 18);
    width: 30%;
    height: 100vh;
    display: grid;
    flex-direction: row;
    align-items: center;
}

.box-treino {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 0, 157);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    transition: 0.5s;
    border: 1px solid white;
}
.box-treino:hover {
    background-color: rgb(0, 85, 165);
}

.box-treino2 {
    height: 50px;
    width: 100%;
    background-color: rgb(0, 255, 128);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    transition: 0.5s;
    border: 1px solid white;
}
.box-treino2:hover {
    background-color: rgb(0, 85, 165);
}


.box-treino3 {
    height: 50px;
    width: 100%;
    background-color: rgb(179, 255, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    transition: 0.5s;
    border: 1px solid white;
}
.box-treino3:hover {
    background-color: rgb(0, 85, 165);
}


.box-treino4 {
    height: 50px;
    width: 100%;
    background-color: rgb(119, 0, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    transition: 0.5s;
    border: 1px solid white;
}
.box-treino4:hover {
    background-color: rgb(0, 85, 165);
}


