* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* Cabeçalho */

h1 {
    background-color: rgb(2, 245, 204);
    text-align: center;
    border-bottom: 3px solid rgb(66, 194, 173);
}

/* Área de acesso */

.acesso {
    background-image: url(../img/montagem-faustao.png);
    display: flex;
    flex-direction: row-reverse;
    min-height: 50vh;
    height: 500px;
    padding: 40px;
}

.tela {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0%, 0%, 0%, 50%);
    width: 400px;
    height: 400px;
    border-radius: 3px;
}

.ipt {
    width: 160px;
}

.btn {
    width: 100px;
    border-radius: 3px;
    
}

/* Footer */

footer {
    background-color:rgb(156, 233, 233);
    text-align: center;
    padding: 30px;
}

.bold {
    font-weight: bold;
}

