body {
    background-image: linear-gradient(45deg, #52377a, #a692c5);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.registro {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 5px;
}

input {
    border-radius: 10px;
    padding: 10px;
}


button {
    color: rgb(49, 47, 47);
    background-color: #eee;
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #a692c5;
    transition: 0.5s;
    color: #eee;
    font-weight: bold;
}